
:root{
    --black:    #000000;
    --purple1:	#31004a;
    --purple2:	#33007b;
    --purple3:  #4c00a4;
    --purple4:  #8300c4;
    --purple5:	#ab00ff;
    --basetext: #e9e9e9;
    --darkshade: #242424;
}